.idea
.mypy_cache
cmd/cmd
cmd/subscan
configs/http.toml
configs/mysql.toml
configs/mysql-test.toml
configs/mysql-prod.toml
configs/redis.toml
log/*
!log/.gitkeep
node_modules
target
*.so
data/*
!data/.gitkeep
